.comboBoxArrow{
	margin-top:1px;
	float:left;
	position:absolute;
	right:1px;
}

.comboBoxInput{
	border:0px;
	padding-left:1px;
	height:16px;
	position:absolute;
	top:0px;
	left:0px;
}

.comboBox{
	border:1px solid #7f9db9;
	height:20px;
}

.comboBoxOptionContainer{
	position:absolute;
	border:1px solid #7f9db9;
	height:100px;
	background-color:#FFF;
	left:-1px;
	top:20px;
	visibility:hidden;
	overflow:auto;
}

.comboBoxAnOption{
	font-family:Verdana, sans-serif;
	font-size:12px;
	cursor:default;
	margin:1px;
	overflow:hidden;
	white-space:nowrap;
}